@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	height: 100dvh;
}

@media (min-width: 1024px) or (min-width: 1280px) {
	.card-body {
		width: min(50%, 600px);
	}
}

@media (min-width: 768px) {
	.card-body {
		width: min(70%, 600px);
	}
}